/*-------------- Splash screen---------------------- */

.splashScreen {
  position: fixed;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-peach);
  overflow: hidden;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

/* Slide up animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide up animation - mobile */
@keyframes slideUp_mobile {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

